<form class="p-5 border rounded-3 bg-light" method="post" action="/register">
    <h1 class="h3 mb-3 font-weight-normal text-dark">Register form</h1>
    <div class="form-floating mb-3">
        {{form.username}}
        <label class="text-dark">Account name</label>
    </div>
    <div class="form-floating mb-3">
        {{form.email}}
        <label class="text-dark">Email</label>
    </div>
    <div class="form-floating mb-3">
        {{form.password}}
        <label class="text-dark">Password</label>
    </div>
    <hr class="my-4">
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <small class="text-muted ">By clicking Sign up, you agree to the terms of use.</small>
</form>